# Binaries
main
snake
badapple
badapple_ascii
a.out
*.exe
*.o
*.obj
*.out

# Intermediate generated C++ files
main.cpp
snake.cpp
badapple.cpp
badapple_ascii.cpp
playground_code.js

# OS files
.DS_Store
